spring.datasource.url=jdbc:postgresql://localhost:5432/fittrack
spring.datasource.username=THE_DB_USERNAME
spring.datasource.password=THE_DB_PASSWORD

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true

spring.jpa.properties.hibernate.format_sql=true

server.port=8080